//Colors

$primary: #287feb;
$secondary: #ddefff;
$neutral-black: #1b1d1f;
$neutral-gray: #72787f;
$neutral-light-gray: #e8ebed;
$neutral-light: #f7f8f9;
$neutral-white: #ffffff;
$accent-green: #40908c;
$accent-purple: #6973db;
$accent-orange: #d25e00;
