@import "../colors";

//All the icons that will be used (just footer for now)

.twitter,
.email,
.facebook,
.instagram {
  color: $neutral-white;
  position: relative;
  top: 5px;
  margin-right: 5px;
}

.laptop {
  color: $primary;
  position: relative;
  top: 3px;
  left: 7px;
}
